@import url("./import/variables.css");

/* Setting text size to a 10 based system for rem and em */
:root {
  font-size: 62.5%;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  text-transform: capitalize;
}

* {
  margin: 0;
  padding: 0;
  font: inherit;
}

a {
  text-decoration: none;
  color: var(--userColor);
  transition: background-color 0.5s;
  font-weight: bold;
  font-size: 1.3rem;
}

a:hover {
  color: white;
}

body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  display: grid;
  grid-template-rows: auto 1fr auto;
  min-height: 100vh;
  background: url("/src/assets/images/peakpx\ \(3\).jpg");
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
  /* Setting the font size back to the default */
  font-size: 1.6rem;
}

header {
  display: flex;
  align-items: center;
  background: rgba(0, 0, 0, 0.85);
  min-height: 4rem;
  margin-bottom: 2rem;
}

header label {
  display: grid;
  align-items: center;
}

header label img, header label input {
  grid-row: 1;
  grid-column: 1;
}

header label img {
  margin-right: 0.5rem;
  justify-self: end;
  z-index: 2;
  cursor: pointer;
  background-color: black;
}

header input {
  font-size: 1.5rem;
  border-width: 0.1rem;
  border-radius: 0.5rem;
  padding: 0.5rem;
  background: rgba(0, 0, 0, 0.85);
  color: white;
  box-shadow: var(--shadow);
}

input::placeholder {
  color: white;
  text-transform: lowercase;
}

header span {
  font-weight: bold;
  cursor: default;
  text-transform: uppercase;
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}

header div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 90%;
  margin: 0 auto;
}

main {
  display: grid;
  grid-template-rows: auto;
  min-height: 100%;
}

footer {
  background: rgba(0, 0, 0, 0.85);
  font-size: 1.3rem;
  padding: 2rem;
}

footer div {
  display: flex;
  justify-content: center;
  gap: 1rem;
  width: 90%;
  margin: 0 auto;
  margin-bottom: 2rem;
}

footer > p {
  font-size: 1rem;
  text-align: center;
}

h1 {
  font-size: 2rem;
  margin: 1rem auto auto;
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0,0,0,0);
  white-space: nowrap;
  border-width: 0;
}

.page-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  min-height: 100%;
  padding: 1rem 0rem 3rem;
}

.response-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex: 1;
  margin: 0 auto;
  padding: 1rem;
  border-radius: 0.5rem;
  background: rgba(0, 0, 0, 0.85);
  min-height: 20rem;
  width: 90%;
  color: white;
  box-shadow: var(--shadow);
  overflow-x: auto;
}

.response-wrapper {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.bot-response {
  width: 80%;
  background: white;
  color: black;
  padding: 1rem;
  border-radius: 0.5rem;
  word-wrap: break-word;
}

.user-input {
  width: 80%;
  background-color: var(--userColor);
  color: black;
  padding: 1rem;
  border-radius: 0.5rem;
  word-wrap: break-word;
}

.bot-content {
  width: 100%;
}

form {
  display: flex;
  align-items: end;
  margin: 0 auto;
  width: 90%;
  padding-top: 2rem;
}

form textarea {
  text-transform: lowercase;
  resize: none;
  max-height: 20rem;
  width: 100%;
  border: none;
  border-radius: 0.5rem;
  padding: 1rem;
  background: rgba(0, 0, 0, 0.85);
  color: white;
  box-shadow: var(--shadow);
}

input[type="submit"] {
  position: absolute;
  left: -9999px;
  width: 1px;
  height: 1px;
  overflow: hidden;
}

/* .placeholder {
  color: white;
} */

textarea::placeholder {
  color: white;
}

form > button[type="submit"] {
  border: none;
  border-radius: 0.5rem;
  padding: 0.8rem 1rem;
  margin-left: 0.5rem;
  box-shadow: var(--shadow);
  cursor: pointer;
}

button[type="submit"] img {
  width: 2rem;
  margin-left: auto;
}

form > button[type="submit"]:hover{
  background-color: var(--userColor);
}

/* Error messages */
.error {
  background: lightcoral;
  color: red;
  padding: 1rem;
  border-radius: 0.5rem;
}

.success {
  background: lightgreen;
  color: green;
  padding: 1rem;
  border-radius: 0.5rem;
}

/* loader */

.loader-container {
  display: flex;
  justify-content: center;
  display: none;
}

.loader {
  width: 48px;
  height: 48px;
  display: inline-block;
  position: relative;
}

.loader::after,
.loader::before {
  content: '';  
  box-sizing: border-box;
  width: 48px;
  height: 48px;
  border-radius: 50%;
  border: 2px solid #FFF;
  position: absolute;
  left: 0;
  top: 0;
  animation: animationLoader 2s linear infinite;
}

.loader::after {
  animation-delay: 1s;
}

@keyframes animationLoader {
  0% {
    transform: scale(0);
    opacity: 1;
  }
  100% {
    transform: scale(1);
    opacity: 0;
  }
}
