
@media (1250px <= width) {
  header div {
    width: 120rem;
  }

  header label {
    width: 50rem;
  }

  footer div {
    width: 120rem;
  }

  .response-container {
    width: 120rem;
  }

  form {
    width: 120rem;
  }
}